body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-nav {
  float: right;
}
p {
  font-size: 12px;
}
.username {
  float: left;
}
.likes {
  float: right;
}
.masonry {
  margin: 0 auto;
}
.thumbnail {
  max-width: 50%;
  margin: 0;
  display: inline-block;
}