body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
p {
  font-size: 12px;
}
.user {
  float: left;
}
.likes {
  float: right;
}
.thumbnail {
  float: left;
  max-width: 25%;
  height: 250px;
}
.home {
  max-width: 20%;  
}
@media (max-width: 480px) {
  .thumbnail, .home {
    max-width: 50%;
  }
}
.fa-times {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #bd081c;
}