body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
p {
  font-size: 12px;
}
.user {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.likes {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.thumbnail {
  float: left;
  width: 25%;
  height: 250px;
  position: relative;
}
.home {
  width: 20%;  
}

.thumbnail_image {
  max-height: 180px;
}

@media (max-width: 480px) {
  .thumbnail, .home {
    width: 50%;
  }
}
.fa-times {
  top: 6px;
  position: absolute;
  right: 8px;
  color: #bd081c;
}

.red{
  color: #bd081c;
}

.fa-times:hover, .fa-retweet:hover, fa-heart:hover {
  opacity: 0.8;
}